.btn-primary {
  font-family: 'PlayfairDisplayBold';
  font-size: 21px;
  color: #fff;
  border: 2px solid #fff;
  padding: 20px 40px;
  display: inline-block;
  line-height: 1;
  transition: all 1s .4s linear;
  text-decoration: none;
}

.btn-yellow {
  color: #d6a576;
  border-color: #d6a576;
}