// ==================================================================================
// Product
// ==================================================================================

.product--details {
  width: 50%;
  float: left;
  position: relative;

  }

.product__thumbnail {
  position: absolute;
  bottom: -30%;
  left: -3%;
  transition: all .6s 0s ease-in-out;
  cursor: pointer;
  z-index: 3;
  filter: alpha(opacity=0); /* For IE8 and earlier */
  opacity: 0;
  text-align: center;
  
  button {
    width: 184px;
    height: 187px;
    display: block;
    overflow: hidden;
    border-radius: 100%;
    -webkit-box-shadow: 0 0 40px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0 0 40px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.6);
    border: none;
    padding: 0;
    outline: none !important;
  }

  p {
    font-family: 'Steelfish', serif;
    font-size: 16px;
    text-transform: uppercase;
    color: #0e0c0c;
    margin-top: 15px;
  }
}

.product__image {
  text-align: center;
  transition: all .6s 0s ease-in-out;
  position: relative;
  top: 100px;
  filter: alpha(opacity=0); /* For IE8 and earlier */
  opacity: 0;
}
