// ==================================================================================
// Product
// ==================================================================================

.product--details {
  width: 50%;
  float: left;
  position: relative;

  }

.product__thumbnail {
  position: absolute;
  bottom: -30%;
  left: -1%;
  width: 184px;
  height: 187px;
  overflow: hidden;
  border-radius: 100%;
  box-shadow: 0 0 40px rgba(0,0,0,0.6);
  transition: all .6s 0s ease-in-out;
  cursor: pointer;
  z-index: 3;
  filter: alpha(opacity=0); /* For IE8 and earlier */
  opacity: 0;
}

.product__image {
  text-align: center;
  transition: all .6s 0s ease-in-out;
  position: relative;
  top: 100px;
  filter: alpha(opacity=0); /* For IE8 and earlier */
  opacity: 0;

  img {
    max-width: 500px;
    width: 95%;
  }
}