// ==================================================================================
// Responsive
// ==================================================================================

@media(max-width: 2048px) {
  .section--introduction .section__title--primary {
	font-size: 176px;
  }
}

@media(max-width: 1920px) {
  .section--introduction .section__title--primary {
	font-size: 154px;
  }
}

@media(max-width: 1680px) {
  .section--introduction .section__title--primary {
	font-size: 146px;
  }
}

@media(max-width: 1600px) {
  .section--introduction .section__title--primary {
	font-size: 132px;
  }
}

@media(max-width: 1440px) {
  .section--introduction .section__title--primary {
	font-size: 128px;
  }
}

@media (max-width: 1400px) {
	.section__title-text {
		font-size: 20px;
	}

	.section__title-step {
		top: 15px;
		font-size: 100px;
	}

	.section__title-heading {
		font-size: 35px;
	}

	.section--process {

		.section__content {
			font-size: 16px;
		}
	}

	.brand {
		width: 120px;
		height: 121px;
	}

	.section__display-image {
		width: 50%;
	}

  .section--introduction .section__title--primary {
	font-size: 125px;
  }

  .section__display .section__title {
	font-size: 70px;
  }

  .section__display .section__title-sub {
	font-size: 30px;
  }

}

@media(max-width: 1366px) {
  .carousel--steps .carousel-inner {
	min-height: 350px;
  }

  .section--introduction .section__title--primary {
	font-size: 117px;
  }

}

@media (max-width: 1280px) {

  .contact__info {
	margin-top: 5%;
  }

  .section--contact .content-wrap {
	height: 300px;
  }

  .carousel-controllers {
	margin-top: 30px;
	margin-left: 18px;
	display: block;
  }

  .carousel-indicators {
	float: none;
	display: block;
  }

  .section--introduction .section__title--primary {
	font-size: 94px;
  }

  .section--details .section__title {
	font-size: 70px;
  }

  .section--contact .section__title {
	font-size: 70px;
  }
}

@media(max-width: $tablet-breakpoint-landscape) {
	.brand {
	  width: 90px;
	  height: 91px;
	  margin-top: 30px;
	  margin-left: 30px;
	}

  .menu__list {
	top: 65px;
  }

  .menu__trigger {
	margin-top: 60px;
	margin-right: 50px;
  }
}

@media (max-width: $tablet-breakpoint-portrait) {

	.section {
		position: relative;
	}

	.section--details,
	.section--tradition {		
		height: auto;
		min-height: 400px;
	}

	.brand {
		width: 55px;
		height: 56px;
		margin-top: 20px;
		margin-left: 20px;
	}

	.menu__trigger {
	  margin-top: 35px;
	  margin-right: 30px;
	}

  .menu__list {
	top: 40px;
  }

	.menu__icon {
		width: 20px;
		height: 2px;
		margin-bottom: 3px;
	}

	.footer__link {
		margin-left: 0;
		font-size: 12px;
	}

	.product__details {
		position: relative;
		min-height: 350px;
	}
}

@media(max-width: 1024px) {
  .product__thumbnail button {
	width: 150px;
	height: 150px;
  }

  //mobile
  .btn-primary {
	font-size: 18px;
	padding: 15px 30px;
  }

  .carousel-controllers {
	display: none;
  }

  .section--introduction  .section__title--primary {
	font-size: 91px;
  }


  .section--contact .content-wrap {
	width: 100%;
	margin-top: 2em;
  }

  .l-footer {
	display: none;
  }

  .is-mobile {
	.section {
	  min-height: 600px;
	}

	.carousel--details {
	  .carousel-inner {
		height: 600px;
	  }
	}


	.carousel--details .carousel-inner .active .section-caption {
	  top: 33%;
	}

	.section--tradition .section-caption {
	  left: 20%;
	}

	.section--tradition .section__title--primary {
	  filter: alpha(opacity=100); /* For IE8 and earlier */
	  opacity: 1;
	}

	.section__title-animated {
	  top: 0;
	}

	.section--tradition .section-caption .btn-primary {
	  filter: alpha(opacity=100); /* For IE8 and earlier */
	  opacity: 1;
	}

	.section--process {
	  margin-top: 0;
	  padding: 4em 0 7em;
	}



	.section__display {
	  position: relative;
	  top: 0;
	  margin-top: 0;
	  width: 50%;
	  float: right;
	  filter: alpha(opacity=100); /* For IE8 and earlier */
	  opacity: 1;
	  padding-top: 3em;

	  .section__title {
		filter: alpha(opacity=100); /* For IE8 and earlier */
		opacity: 1;
	  }
	}

	.carousel--steps {
	  filter: alpha(opacity=100); /* For IE8 and earlier */
	  opacity: 1;
	  width: 50% !important;
	  top: 0;
	}

	.section--contact .l-wrap .contact-content {
	  position: relative;
	  top: 0;
	  left: 0;
	  -webkit-transform: translate(0,0);
	  -moz-transform: translate(0,0);
	  -ms-transform: translate(0,0);
	  -o-transform: translate(0,0);
	  transform: translate(0,0);
	  width: 100%;
	  height: 100%;
	  display: block;
	}


	.section--contact .section__title {
	  filter: alpha(opacity=100); /* For IE8 and earlier */
	  opacity: 1;
	  top: 0;
	}



	.carousel--steps .carousel-inner {
	  overflow: hidden;
	}

	.section--contact {
	  min-height: 0;
	  overflow: hidden;
	  padding-bottom: 5em;
	  padding-top: 5em;
	}

	.section--contact, .section--contact .l-wrap .contact-content, .content-process {
	  &:after {
		content: '';
		display: table;
		clear: both;
	  }
	}

	.section__display-image {
	  width: 80%;
	}

	.section--contact .btn-primary {
	  filter: alpha(opacity=100); /* For IE8 and earlier */
	  opacity: 1;
	  top: 0;
	}

	.contact__info {
	  margin-top: 3em;
	  overflow: hidden;
	  top: 0;
	  filter: alpha(opacity=100); /* For IE8 and earlier */
	  opacity: 1;
	}

	.carousel--details .item-details {
	  filter: alpha(opacity=100); /* For IE8 and earlier */
	  opacity: 1;
	  top: 45%;
	}

	.carousel--details .carousel-indicators {
	  filter: alpha(opacity=100); /* For IE8 and earlier */
	  opacity: 1;
	}

	.section--process .content-process {
	  position: relative;
	  top: 0;
	  -webkit-transform: translate(0, 0);
	  -moz-transform: translate(0, 0);
	  -ms-transform: translate(0, 0);
	  -o-transform: translate(0, 0);
	  transform: translate(0, 0);
	  
	}



	.section--contact .section__bottom {
	  filter: alpha(opacity=100); /* For IE8 and earlier */
	  opacity: 1;
	}

  }

}

@media(max-width: 991px) {

  .product__thumbnail button {
	width: 120px;
	height: 120px;
  }

  .btn-primary {
	font-size: 16px;
	padding: 15px 25px;
  }

  .section--introduction .section__title--primary {
	font-size: 73px;
  }

  .section--details .section__title {
	font-size: 60px;
  }

  .section__display .section__title {
	font-size: 60px;
  }

  .section__display .section__title-sub {
	font-size: 25px;
  }

  .active.section--contact .btn-primary {
	top: -20px;
  }

}

@media(max-height: 900px) {
  .section--contact .section__title {
	font-size: 80px;
  }

  .section--contact .content-wrap {
	height: 350px;
  }
}

@media(max-width: 800px) {
  .section--introduction .section__title--primary {
	font-size: 70px;
  }
}

@media(max-width: 767px) {

  //mobile
  .btn-primary {
	font-size: 12px;
	padding: 10px 20px;
  }

  .product__thumbnail button {
	width: 60px;
	height: 60px;
	left: 1%;
  }


  .section--contact .content-wrap {
	height: 200px;
  }

  .is-mobile {
	.carousel--details .item-details {
	  display: block;
	}

	.product--details {
	  width: 80%;
	  float: none;
	}

	.section--details .section-caption {
	  width: 100%;
	  float: none;
	}

	.carousel--details .item-details {
	  position: relative;
	  display: block;
	}

	.carousel--details .item-caption {
	  position: relative;
	  -webkit-transform: translate(0,0);
	  -moz-transform: translate(0,0);
	  -ms-transform: translate(0,0);
	  -o-transform: translate(0,0);
	  transform: translate(0,0);

	}

	.product__image {
	  top: 0;
	}


	.carousel--details .item-details {
	  float: none;
	  margin: 0 auto;
	}

	.product--details {
	  width: 80%;
	  margin: 0 auto;
	}

	.section--details .section-caption {
	  top: 0 !important;
	  padding-top: 2em;
	  text-align: center;
	}



	.section--details {
	  min-height: 0;
	}

	.carousel--details .carousel-indicators {
	  top: 30%;
	  left: inherit;
	  right: 10px;
	  -webkit-transform: translate(0, 0);
	  -moz-transform: translate(0, 0);
	  -ms-transform: translate(0, 0);
	  -o-transform: translate(0, 0);
	  transform: translate(0, 0);
	}

	.section {
	  min-height: 400px;
	}

	.section__display {
	  top: 0;
	  margin-top: 0;
	  width: 100%;
	  float: none;
	  padding-top: 0;
	  text-align: center;
	}

	.carousel--steps {
	  width: 100% !important;
	}


	.contact__item {
	  float: none;
	  width: 100%;
	}
  }

  .section--tradition .section__title--primary {
	font-size: 65px;
  }

  .section--details .section__title {
	font-size: 45px;
  }

  .section__display .section__title {
	font-size: 50px;
  }

  .section__display .section__title-sub {
	font-size: 20px;
  }

}

@media(max-height: 800px) {
  .section--contact .content-wrap {
	height: 280px;
  }


  .section--contact .section__title {
	font-size: 65px;
  }

  .active.section--contact .section__title {
	top: -12px;
  }

  .section--contact .btn-primary {
	margin-top: 1em;
  }

  .contact__info {
	margin-top: 3%;
  }

  .btn-primary {
	padding: 15px 30px;
  }

  .contact__item-bio {
	font-size: 15px;
  }
  .contact__info-title {
	font-size: 20px;
  }

}

@media(max-height: 750px) {
  .modal-content .close {
	top: 0;
  }

}

@media(max-height: 700px) {
  .section--contact .content-wrap {
	height: 245px;
  }

  .contact__info {
	margin-top: 3%;
  }


}

@media(max-width: 640px) {
  .section--introduction .section__title--primary {
	font-size: 35px;
  }
}

@media(max-width: 480px) {
  .section__trigger-link {
	width: 30px;
	background-size: 100%;
  }

  .product__thumbnail p {
	font-size: 12px;
	margin-top: 10px;
  }

  .section--tradition .section__title--primary {
	font-size: 45px;
  }

  .section__title-step {
	font-size: 70px;
  }

  .section__display .section__title {
	font-size: 40px;
  }

  .section__display .section__title-sub {
	font-size: 18px;
  }

  .section__title-heading {
	font-size: 25px;
  }

  .section--process .section__content {
	font-size: 14px;
  }

  .section--contact .section__title {
	font-size: 45px;
  }

  .menu__item a {
	padding-left: 10px;
	padding-right: 10px;
	font-size: 11px;
  }
}

@media(max-width: 400px) {
  .section--introduction .section__title--primary {
	font-size: 30px;
  }

  .section--details .section__title {
	font-size: 30px;
  }

  .btn-primary {
	font-size: 10px;
	padding: 8px 15px;
  }

  .menu__item a {
	padding-left: 8px;
	padding-right: 8px;
	font-size: 10px;
  }

  .carousel-indicators li {
	margin-left: 3px;
	margin-right: 3px;
  }

  .carousel--steps .carousel-inner {
	min-height: 380px;
  }

  .section--contact .content-wrap {
	height: 215px;
  }
}