// ==================================================================================
// Section
// ==================================================================================

.section {
	position: relative;
}

.section--introduction {
	overflow: hidden;
}

.section__title--primary {
	position: absolute;
	z-index: 2;
	top: 50%;
	left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  transform: (-50%,-50%);
	overflow: hidden;
	font-size: 190px; // Old Browsers
	font-size: 7.5vw;
	text-align: center;
	transition: all 1s .4s linear;
}

.section__title {
	opacity: 0;
	font-family: Steelfish;
	color: #fff;
}

.section__title-animated {
	position: relative;
	top: 180px;
	transition: all .4s 1.4s linear;
}

.section__tile {
	float: left;
	overflow: hidden;
    position: relative;
    width: 50%;
    height: 50%;
   
	&:nth-child(1) {
		.section__tile-image {
			left: 0;
    		top: -50%;
		}
	}

	&:nth-child(2) {
		.section__tile-image {
			left: -50%;
    		top: 0;
		}
	}

	&:nth-child(3) {
		.section__tile-image {
			left: -50%;
    		top: -100%;
		}
	}

	&:nth-child(4) {
		.section__tile-image {
			left: -100%;
    		top: -50%;
		}
	}
}

.section__tile-half {
	float: left;
	overflow: hidden;
    position: relative;
    width: 50%;
    height: 100%;
}


.section__tile-half-right {
	.section__tile-item {
		top: 0;
		left: 0;
	}
}

.section__tile-half-right {
	.section__tile-item {
		top: 0;
		right: 0;
		transform: translate(100%, 0%);
	}
}


.section__tile-item {
	position: absolute;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	transition: all 1s cubic-bezier(0.46, 0.03, 0.52, 0.96);
	transform: translate(-100%, 0%);

	&.is-animated {
		transform: translate(0%, 0%);
	}
}


.section__background,
.fp-tableCell {
    left: 0;
    position: absolute;
    top: 0;
    height: 100%;
    overflow: hidden;
    perspective: 1000px;
    width: 100%;
    z-index: 0;
}

.section__mask {
	display: block;
	position: absolute;
	left: 0;
	top: 0; 
    height: 100%;
    width: 100%;
}

.section__tile-image {
	position: relative;
	height: 200%;    
    width: 200%;
	background: url('../images/hero.jpg') no-repeat;
	background-size: cover;
	transition: all .8s ease-in-out;
}

.section__trigger {
	position: absolute;
	z-index: 3;
	left: 50%;
	bottom: 60px;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
	opacity: 0;
	transition: all .6s 2s ease-in-out;
}

.section__trigger-link {
	display: inline-block;
	width: 48px;
	height: 27px;
	background: url('../images/down-trigger.png') no-repeat;
	cursor: pointer;
}


// Tradition

.section--tradition {
	position: relative;
	background-color: #111;

	&:after {
		content: '';
		z-index: 1;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0,0.6);
	}
}

.section--tradition {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  .section-caption {
	position: absolute;
	top: 35%;
	left: 15%;

	.btn-primary {
	  position: relative;
	  z-index: 2;
	  opacity: 0;
	  transition: all .4s 1.4s linear;
	}
  }
  .section__title--primary {
	position: relative;
	top: 0;
	left: 0;
	-webkit-transform: translate(0, 0);
	-moz-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	-o-transform: translate(0, 0);
	transform: translate(0, 0);
	display: block;
	margin: 0 0 50px;
  }

}

// Modifiers

.section--secondary {
	.section__title {
		position: relative;
		z-index: 2;
		font-size: 100px;
		font-size: 4vw;
	}
}

// Details

.section--details {
	background: #0e0c0c;

	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: url('../images/bg-blur.jpg') center no-repeat;
	}

	.section__title {
	  position: relative;
	  right: 0;
	  top: 0;
	  transform: translate(0, 0);
	  margin-bottom: 50px;

	}

    .section-caption {
	  position: absolute;
	  right: 0;
	  top: 40%;
	  transform: translate(0, -43%);
	  z-index: 2;
	  transition: all .6s 0s ease-in-out;
	  opacity: 0;
	}
}



// Process


.section--process {
	margin-top: 15%;
	font-family: 'Playfair Display', serif;

	.fp-slides {

		&:after {
			content: '';
			clear: both;
			display: table;
		}
	}

	.section__title {
		margin-bottom: 50px;
		font-family: 'Playfair Display', serif;
		color: #0e0c0c;
	}

	.section__content {
		font-size: 20px;
		line-height: 1.6;
	}
}

.section__display {
	position: absolute;
	top: -30px;
	right: 0;
	margin-top: 5%;
	text-align: right;
	opacity: 0;
	transition: all .4s 1.5s ease-in-out;

	.section__title {
		margin-bottom: 15px;
		font-size: 95px;
		font-size: 4vw;
		font-family: Steelfish;
	}

	.section__title-sub {
		font-size: 45px;
		font-size: 2vw;
		font-family: 'Playfair Display', serif;
		color: #d6a576;
	}
}

.section__display-image {
	margin-top: 50px;
}

.section__title-text {
	font-size: 36px;
	transition: all 1s 2.2s ease-in-out;
}

.section__title-heading {
	display: block;
	margin-top: 15px;
	font-size: 65px;
	transition: all 1s 2.6s ease-in-out;
}

.section__title-step {
	position: relative;
	left: -20px;
	top: 30px;
	z-index: -1;
	font-size: 150px;
	font-style: italic;
	color: #efdecf;
	transition: all 1s 2.4s ease-in-out;
}

// Contact

.section--contact {
	.section__title {
		position: absolute;
		top: 30px;
		left: 0;
		right: 0;
	    font-size: 100px;
    	font-size: 4vw;
	    color: #fff;
	    text-align: center;
	    transition: all .6s 1.2s ease-in-out;
	    z-index: 1;
	}

	.l-wrap {
		max-width: 1000px;
	    height: 100%;

	  .contact-content {
		position: absolute;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		-o-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	  }
	}

	.section__bottom {
		opacity: 0;
		position: fixed;
		right: 0;
		bottom: -50px;
		width: 100%;
		height: 100px;
		background: url('../images/bg-footer.jpg') center repeat;
		transition: all .6s 1.6s ease-in-out;
	}
}

.contact__info-title {
  margin-bottom: 50px;
  text-align: center;
  font-size: 26px;
  text-transform: uppercase;
  color: #fff;
}

.contact__info {
	position: relative;
	top: -30px;
	opacity: 0;
	margin-top: 8%;
	transition: all .2s ease-in-out;
}

.contact__item {
	float: left;
	width: 50%;
}

.contact__item-bio {
	font-size: 20px;
	line-height: 1.8;
    padding-left: 6em;

  	li {
	  color: #fff;
	  a {
		color: #fff;
		cursor: pointer;

		&:hover {
		  text-decoration: underline;
		}
	  }
	}
}

.section--contact {
  background-color: #000;

  .content-wrap {
	text-align: center;
	padding: 12px;
	width: 935px;
	height: 445px;
	margin: 0 auto;
	border: 10px solid #201e1e;
	position: relative;

	&:before, &:after {
	  content: '';
	  background-color: #000;
	  z-index: 1;
	  position: absolute;
	  left: 0;
	  right: 0;
	  margin: 0 auto;
	  height: 20px;
	}

	&:before {
	  top: -15px;
	  width: 310px;
	}

	&:after {
	  bottom: -15px;
	  width: 270px;
	}
  }

  .content-image-wrap {
	background-image: url(../images/started-image-bg.png);
	background-repeat: repeat;
	height: 100%;
	width: 100%;
	
	.content-image-contact {
	  background-repeat: no-repeat;
	  background-size: cover;
	  background-position: center;
	  width: 100%;
	  height: 100%;
	  opacity: 0.5;
	  
	}
  }

  .btn-primary {
	position: relative;
	top: 0px;
	z-index: 2;
	transition: all .6s 1.2s ease-in-out;
	opacity: 0;

  }
}

//  States

.active  {

	  &.section--contact {
		.section__title {
		  top: -29px;
		  opacity: 1;
		}

		.btn-primary {
		  opacity: 1;
		  top: -35px;
		}
	  }

	.carousel--steps,
	.section__displa, .section__display {
		top: 0;
		opacity: 1;
	}

	.contact__info {
		top: 0;
		opacity: 1;
		transition: all .6s 1.4s ease-in-out;
	}

	.section__bottom {
		opacity: 0.4;
		bottom: 0;
		transition: all .6s 1.2s ease-in-out;
	}

	.section__title, .section-caption .btn-primary {
		opacity: 1;
	}

	.section__title-animated {
		top: 0;
	}

	.section__trigger {
		opacity: 1;
		bottom: 65px;
	}

	.section__tile {
		&:nth-child(1) {
			.section__tile-image {
				top: 0;
			}
		}

		&:nth-child(2) {
			.section__tile-image {
				left: -100%;
			}
		}

		&:nth-child(3) {
			.section__tile-image {
				left: 0;
			}
		}

		&:nth-child(4) {
			.section__tile-image {
				top: -100%;
			}
		}
	}
}
