// ==================================================================================
// Section
// ==================================================================================

.section {
	position: relative;
}

.section--introduction {
	overflow: hidden;
}

.section__title--primary {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 0;
  right: 0;
  -webkit-transform: translate(0,-50%);
  -moz-transform: translate(0,-50%);
  -ms-transform: translate(0,-50%);
  -o-transform: translate(0,-50%);
  transform: translate(0,-50%);
  overflow: hidden;
  font-size: 190px; // Old Browsers
  text-align: center;
  transition: all 1s .4s linear;
  padding: 0 20%;
}

.section__title {
	opacity: 0;
    filter: alpha(opacity=0); /* For IE8 and earlier */
	font-family: Steelfish;
	color: #fff;
}

.section__title-animated {
	position: relative;
	top: 180px;
	transition: all .4s 1.4s linear;
}

.section__tile {
	float: left;
	overflow: hidden;
    position: relative;
    width: 50%;
    height: 50%;
   
	&:nth-child(1) {
		.section__tile-image {
			left: 0;
    		top: -50%;
		}
	}

	&:nth-child(2) {
		.section__tile-image {
			left: -50%;
    		top: 0;
		}
	}

	&:nth-child(3) {
		.section__tile-image {
			left: -50%;
    		top: -100%;
		}
	}

	&:nth-child(4) {
		.section__tile-image {
			left: -100%;
    		top: -50%;
		}
	}
}

.section__tile-half {
	float: left;
	overflow: hidden;
    position: relative;
    width: 50%;
    height: 100%;
}


.section__tile-half-right {
	.section__tile-item {
		top: 0;
		left: 0;
	}
}

.section__tile-half-right {
	.section__tile-item {
		top: 0;
		right: 0;
		transform: translate(100%, 0%);
	}
}


.section__tile-item {
	position: absolute;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	transition: all 1s cubic-bezier(0.46, 0.03, 0.52, 0.96);
	transform: translate(-100%, 0%);

	&.is-animated {
		transform: translate(0%, 0%);
	}
}


.section__background,
.fp-tableCell {
    left: 0;
    position: absolute;
    top: 0;
    height: 100%;
    overflow: hidden;
    perspective: 1000px;
    width: 100%;
    z-index: 0;
}

.section__mask {
	display: block;
	position: absolute;
	left: 0;
	top: 0; 
    height: 100%;
    width: 100%;
}

.section__tile-image {
	position: relative;
	height: 200%;    
    width: 200%;
	background: url('../images/hero.jpg') no-repeat;
	background-size: cover;
	transition: all .8s ease-in-out;
}

.section__trigger {
	position: absolute;
	z-index: 3;
	left: 50%;
	bottom: 60px;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
	opacity: 0;
  filter: alpha(opacity=0); /* For IE8 and earlier */
	transition: all .6s 2s ease-in-out;
}

.section__trigger-link {
	display: inline-block;
	width: 48px;
	height: 27px;
	background: url('../images/down-trigger.png') no-repeat;
	cursor: pointer;
}


// Tradition

.section--tradition {
	position: relative;
	background-color: #111;

	&:after {
		content: '';
		z-index: 1;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0,0.6);
	}
}

.section--tradition {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  .section-caption {
	position: absolute;
	top: 35%;
	left: 15%;

	.btn-primary {
	  position: relative;
	  z-index: 2;
	  opacity: 0;
	  filter: alpha(opacity=0); /* For IE8 and earlier */
	  transition: all .4s 1.4s linear;
	}
  }
  .section__title--primary {
	position: relative;
	top: 0;
	left: 0;
	-webkit-transform: translate(0, 0);
	-moz-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	-o-transform: translate(0, 0);
	transform: translate(0, 0);
	display: block;
	margin: 0 0 50px;
	font-size: 100px;
	text-align: left;
	padding: 0;
  }

}

// Modifiers

.section--secondary {
	.section__title {
		position: relative;
		z-index: 2;
		font-size: 100px;
		font-size: 4vw;
	}
}

// Details

.section--details {

	.section__title {
	  position: relative;
	  right: 0;
	  top: 0;
	  transform: translate(0, 0);
	  margin-bottom: 50px;
	  font-size: 100px;
	  color: #0e0c0c;

	}

    .section-caption {
	  width: 50%;
	  float: left;
	  position: relative;

	}

    .l-wrap, .fp-slides, .fp-slidesContainer, .carousel--details {
	  width: 100%;
	  height: 100%;
	}

}

.completely {
  .carousel--details .item-details, .carousel--details .carousel-indicators {
	opacity: 1;
	filter: alpha(opacity=100); /* For IE8 and earlier */
  }

  .carousel--details .item-details {
	top: 45%;
  }
}



// Process


.section--process {
	font-family: 'Playfair Display', serif;
    border-bottom: 1px solid #eee;

	.l-wrap {
	  height: 100%;
	}

	.fp-slides {

		&:after {
			content: '';
			clear: both;
			display: table;
		}
	}

    .content-process {
	  position: absolute;
	  width: 100%;
	  top: 45%;
	  transform: translate(0, -45%);
	}

	.section__title {
		margin-bottom: 50px;
		font-family: 'Playfair Display', serif;
		color: #0e0c0c;
	}

	.section__content {
		font-size: 20px;
		line-height: 1.6;
	}

    .section__title-text {
	  font-family: 'PlayfairDisplayBold', serif;
	}

    .section__title-step {
	  font-family: 'PlayfairDisplayItalic', serif;
	}

    .section__title-heading, .section__content, .section__display .section__title-sub {
	  font-family: 'PlayfairDisplayRegular', serif;
	}
}

.section__display {
  position: relative;
  top: -30px;
  right: 0;
  margin-top: 5em;
  text-align: right;
  float: right;
  opacity: 0;
  filter: alpha(opacity=0); /* For IE8 and earlier */
  transition: all .4s 1.5s ease-in-out;
  width: 50%;

	.section__title {
		margin-bottom: 15px;
		font-size: 100px;
		font-family: Steelfish;
	}

	.section__title-sub {
		font-size: 55px;
		color: #d6a576;
	}
}

.section__display-image {
	margin-top: 50px;
}

.section__title-text {
	font-size: 36px;
	transition: all 1s 2.2s ease-in-out;
}

.section__title-heading {
	display: block;
	margin-top: 15px;
	font-size: 65px;
	transition: all 1s 2.6s ease-in-out;
}

.section__title-step {
	position: relative;
	left: -20px;
	top: 30px;
	z-index: -1;
	font-size: 150px;
	font-style: italic;
	color: #efdecf;
	transition: all 1s 2.4s ease-in-out;
}

// Contact

.section--contact {
	.section__title {
	  position: relative;
	  top: 30px;
	  left: 0;
	  right: 0;
	  font-size: 100px;
	  color: #0e0c0c;
	  text-align: center;
	  transition: all .6s 1.2s ease-in-out;
	  z-index: 1;
	}

	.l-wrap {
		max-width: 1000px;
	    height: 100%;

	  .contact-content {
		text-align: center;
		position: absolute;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		-o-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	  }
	}

	.section__bottom {
		opacity: 0;
	    filter: alpha(opacity=0); /* For IE8 and earlier */
		position: absolute;
		right: 0;
		bottom: -50px;
		width: 100%;
		height: 100px;
		background: url('../images/bg-footer.jpg') center repeat;
		transition: all .6s 1.6s ease-in-out;
	}
}

.contact__info-title {
  margin-bottom: 15px;
  text-align: center;
  font-size: 26px;
  text-transform: uppercase;
  color: #0e0c0c;
}

.contact__info {
  position: relative;
  top: -30px;
  opacity: 0;
  filter: alpha(opacity=0);
  margin-top: 2em;
  transition: all .2s ease-in-out;
}

.contact__item {
  overflow: hidden;
}

.contact__item-bio {
	font-size: 20px;
	line-height: 1.8;

  	li {
	  color: #0e0c0c;
	  a {
		color: #0e0c0c;
		cursor: pointer;
		text-decoration: none;

		&:hover {
		  text-decoration: underline;
		}
	  }
	}
}

.section--contact {
  .content-wrap {
	text-align: center;
	padding: 12px;
	width: 935px;
	height: 400px;
	margin: 0 auto;
	border: 10px solid #201e1e;
	position: relative;
  }

  .content-image-wrap {
	background-image: url(../images/started-image-bg.png);
	background-repeat: repeat;
	height: 100%;
	width: 100%;

	.content-image-contact {
	  background-repeat: no-repeat;
	  background-size: cover;
	  background-position: center;
	  width: 100%;
	  height: 100%;
	  opacity: 0.5;
	  filter: alpha(opacity=50); /* For IE8 and earlier */
	  
	}
  }

  .btn-primary {
	position: relative;
	top: 20px;
	z-index: 2;
	transition: all .6s 1.2s ease-in-out;
	opacity: 0;
	filter: alpha(opacity=0);
	margin-top: 2em;

  }
}

//  States

.active  {

	  &.section--contact {
		.section__title {
		  top: -35px;
		  opacity: 1;
		  filter: alpha(opacity=100); /* For IE8 and earlier */
		}

		.btn-primary {
		  opacity: 1;
		  filter: alpha(opacity=100); /* For IE8 and earlier */
		  top: 0;
		}
	  }

	.carousel--steps,
	.section__displa, .section__display {
		top: 0;
		opacity: 1;
	    filter: alpha(opacity=100); /* For IE8 and earlier */
	}

	.contact__info {
		top: 0;
		opacity: 1;
	    filter: alpha(opacity=100); /* For IE8 and earlier */
		transition: all .6s 1.4s ease-in-out;
	}

	.section__bottom {
		opacity: 0.4;
	    filter: alpha(opacity=40); /* For IE8 and earlier */
		bottom: 0;
		transition: all .6s 1.2s ease-in-out;
	}

	.section__title, .section-caption .btn-primary {
		opacity: 1;
	  filter: alpha(opacity=100); /* For IE8 and earlier */
	}

	.section__title-animated {
		top: 0;
	}

	.section__trigger {
		opacity: 1;
	  filter: alpha(opacity=100); /* For IE8 and earlier */
		bottom: 65px;
	}

	.section__tile {
		&:nth-child(1) {
			.section__tile-image {
				top: 0;
			}
		}

		&:nth-child(2) {
			.section__tile-image {
				left: -100%;
			}
		}

		&:nth-child(3) {
			.section__tile-image {
				left: 0;
			}
		}

		&:nth-child(4) {
			.section__tile-image {
				top: -100%;
			}
		}
	}
}

.social-media-icons {
  margin-top: 10px;

  li {
	display: inline-block;

	a {
	  font-size: 18px;
	  color: #5D310A;
	  text-decoration: none;
	  border: 1px solid #5D310A;
	  border-radius: 100%;
	  padding: 8px 8px;
	  display: block;
	  width: 20px;
	  height: 20px;
	  margin: 0 5px;
	}
  }
}