// ==================================================================================
// Body
// ==================================================================================

body {
	font-family: 'Georgia', serif;
	font-size: 18px;
    -webkit-font-smoothing: antialiased;
}

// States

.fp-viewing-process-0, .fp-viewing-details-0, .fp-viewing-contact, .navigation-brown {
	.brand {
		transition: all 0s .8s linear;
		background: url('../images/brand-alt.svg') 0 0  no-repeat;
	}

	.menu__icon {
		background: #0e0c0c;
	}

	.l-footer {
		color: #0e0c0c;
	}

	.menu__item {
		a {
			color: #0e0c0c;
		}
	}

	.footer__link {
		color: #0e0c0c;

		&:after {
			background: #0e0c0c;
		}
	}

	.footer__pagination-bar {
		background: #0e0c0c;
	}
}

.fp-viewing-details-0 {
  .l-header {
	z-index: 5;
  }
}

.navigation-white {
  .brand {
	background: url("../images/brand.svg") 0 0 no-repeat;
	transition: all 0s .2s linear;
  }

  .menu__icon {
	background: #fff;
  }

  .l-footer {
	color: #fff;
  }

  .menu__item {
	a {
	  color: #fff;
	}
  }

  .footer__link {
	color: #fff;

	&:after {
	  background: #fff;
	}
  }

  .footer__pagination-bar {
	background: #fff;
  }
}

div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}