// ==================================================================================
// Body
// ==================================================================================

body {
	font-family: 'Georgia', serif;
	font-size: 18px;
    -webkit-font-smoothing: antialiased;
}

div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}