
// ==================================================================================
// Load Assets
// ==================================================================================
// 

@font-face {
    font-family: 'Steelfish';
    src: url('../fonts/steelfish_rg-webfont.eot');
    src: url('../fonts/steelfish_rg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/steelfish_rg-webfont.woff2') format('woff2'),
         url('../fonts/steelfish_rg-webfont.woff') format('woff'),
         url('../fonts/steelfish_rg-webfont.ttf') format('truetype'),
         url('../fonts/steelfish_rg-webfont.svg#steelfishregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'PlayfairDisplayRegular';
  src: url('../fonts/PlayfairDisplayRegular.eot');
  src: url('../fonts/PlayfairDisplayRegular.eot') format('embedded-opentype'),
  url('../fonts/PlayfairDisplayRegular.woff2') format('woff2'),
  url('../fonts/PlayfairDisplayRegular.woff') format('woff'),
  url('../fonts/PlayfairDisplayRegular.ttf') format('truetype'),
  url('../fonts/PlayfairDisplayRegular.svg#PlayfairDisplayRegular') format('svg');
}


@font-face {
  font-family: 'PlayfairDisplayBold';
  src: url('../fonts/PlayfairDisplayBold.eot');
  src: url('../fonts/PlayfairDisplayBold.eot') format('embedded-opentype'),
  url('../fonts/PlayfairDisplayBold.woff2') format('woff2'),
  url('../fonts/PlayfairDisplayBold.woff') format('woff'),
  url('../fonts/PlayfairDisplayBold.ttf') format('truetype'),
  url('../fonts/PlayfairDisplayBold.svg#PlayfairDisplayBold') format('svg');
}



// ==================================================================================
// Heading
// ==================================================================================
// 
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Steelfish', sans-serif;
}