
// ==================================================================================
// Load Assets
// ==================================================================================
// 

@font-face {
    font-family: 'Steelfish';
    src: url('../fonts/steelfish_rg-webfont.eot');
    src: url('../fonts/steelfish_rg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/steelfish_rg-webfont.woff2') format('woff2'),
         url('../fonts/steelfish_rg-webfont.woff') format('woff'),
         url('../fonts/steelfish_rg-webfont.ttf') format('truetype'),
         url('../fonts/steelfish_rg-webfont.svg#steelfishregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'PlayfairDisplayRegular';
  src: url('../fonts/PlayfairDisplayRegular.eot');
  src: url('../fonts/PlayfairDisplayRegular.eot') format('embedded-opentype'),
  url('../fonts/PlayfairDisplayRegular.woff2') format('woff2'),
  url('../fonts/PlayfairDisplayRegular.woff') format('woff'),
  url('../fonts/PlayfairDisplayRegular.ttf') format('truetype'),
  url('../fonts/PlayfairDisplayRegular.svg#PlayfairDisplayRegular') format('svg');
}


@font-face {
  font-family: 'PlayfairDisplayBold';
  src: url('../fonts/PlayfairDisplayBold.eot');
  src: url('../fonts/PlayfairDisplayBold.eot') format('embedded-opentype'),
  url('../fonts/PlayfairDisplayBold.woff2') format('woff2'),
  url('../fonts/PlayfairDisplayBold.woff') format('woff'),
  url('../fonts/PlayfairDisplayBold.ttf') format('truetype'),
  url('../fonts/PlayfairDisplayBold.svg#PlayfairDisplayBold') format('svg');
}

@font-face {
  font-family: 'PlayfairDisplayItalic';
  src: url('../fonts/PlayfairDisplayItalic.eot');
  src: url('../fonts/PlayfairDisplayItalic.eot') format('embedded-opentype'),
  url('../fonts/PlayfairDisplayItalic.woff2') format('woff2'),
  url('../fonts/PlayfairDisplayItalic.woff') format('woff'),
  url('../fonts/PlayfairDisplayItalic.ttf') format('truetype'),
  url('../fonts/PlayfairDisplayItalic.svg#PlayfairDisplayItalic') format('svg');
}

@font-face {
  font-family: 'icomoon';
  src:    url('../fonts/icomoon.eot?5tps00');
  src:    url('../fonts/icomoon.eot?5tps00#iefix') format('embedded-opentype'),
  url('../fonts/icomoon.ttf?5tps00') format('truetype'),
  url('../fonts/icomoon.woff?5tps00') format('woff'),
  url('../fonts/icomoon.svg?5tps00#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pinterest-p:before {
  content: "\e904";
}
.icon-twitter:before {
  content: "\e906";
}
.icon-facebook:before {
  content: "\e907";
}
.icon-linkedin2:before {
  content: "\e900";
}




// ==================================================================================
// Heading
// ==================================================================================
// 
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Steelfish', sans-serif;
}