// ==================================================================================
// Header
// ==================================================================================


.l-header {
	position: fixed;
	top: -10px;
	width: 100%;
	z-index: 2;
	opacity: 0;
	transition: all .8s 1.3s ease-in-out;

	&.is-animated {
		top: 0;
		opacity: 1;
	}
}

.brand {
	float: left;
	display: inline-block;
	width: 164px;
	height: 166px;
	margin-top: 50px;
	margin-left: 50px;
	background: url('../images/brand.svg') 0 0 no-repeat;
	transition: all 0s .2s linear;
}