html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }
  blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'Steelfish';
  src: url("../fonts/steelfish_rg-webfont.eot");
  src: url("../fonts/steelfish_rg-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/steelfish_rg-webfont.woff2") format("woff2"), url("../fonts/steelfish_rg-webfont.woff") format("woff"), url("../fonts/steelfish_rg-webfont.ttf") format("truetype"), url("../fonts/steelfish_rg-webfont.svg#steelfishregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'PlayfairDisplayRegular';
  src: url("../fonts/PlayfairDisplayRegular.eot");
  src: url("../fonts/PlayfairDisplayRegular.eot") format("embedded-opentype"), url("../fonts/PlayfairDisplayRegular.woff2") format("woff2"), url("../fonts/PlayfairDisplayRegular.woff") format("woff"), url("../fonts/PlayfairDisplayRegular.ttf") format("truetype"), url("../fonts/PlayfairDisplayRegular.svg#PlayfairDisplayRegular") format("svg"); }
@font-face {
  font-family: 'PlayfairDisplayBold';
  src: url("../fonts/PlayfairDisplayBold.eot");
  src: url("../fonts/PlayfairDisplayBold.eot") format("embedded-opentype"), url("../fonts/PlayfairDisplayBold.woff2") format("woff2"), url("../fonts/PlayfairDisplayBold.woff") format("woff"), url("../fonts/PlayfairDisplayBold.ttf") format("truetype"), url("../fonts/PlayfairDisplayBold.svg#PlayfairDisplayBold") format("svg"); }
@font-face {
  font-family: 'PlayfairDisplayItalic';
  src: url("../fonts/PlayfairDisplayItalic.eot");
  src: url("../fonts/PlayfairDisplayItalic.eot") format("embedded-opentype"), url("../fonts/PlayfairDisplayItalic.woff2") format("woff2"), url("../fonts/PlayfairDisplayItalic.woff") format("woff"), url("../fonts/PlayfairDisplayItalic.ttf") format("truetype"), url("../fonts/PlayfairDisplayItalic.svg#PlayfairDisplayItalic") format("svg"); }
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?wpnizt");
  src: url("../fonts/icomoon.eot?wpnizt#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?wpnizt") format("truetype"), url("../fonts/icomoon.woff?wpnizt") format("woff"), url("../fonts/icomoon.svg?wpnizt#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-pinterest-p:before {
  content: "\e904"; }

.icon-twitter:before {
  content: "\e906"; }

.icon-facebook:before {
  content: "\e907"; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Steelfish', sans-serif; }

body {
  font-family: 'Georgia', serif;
  font-size: 18px;
  -webkit-font-smoothing: antialiased; }

.fp-viewing-process-0 .brand, .fp-viewing-details-0 .brand, .fp-viewing-contact .brand, .navigation-brown .brand {
  transition: all 0s .8s linear;
  background: url("../images/brand-alt.svg") 0 0 no-repeat; }
.fp-viewing-process-0 .menu__icon, .fp-viewing-details-0 .menu__icon, .fp-viewing-contact .menu__icon, .navigation-brown .menu__icon {
  background: #0e0c0c; }
.fp-viewing-process-0 .l-footer, .fp-viewing-details-0 .l-footer, .fp-viewing-contact .l-footer, .navigation-brown .l-footer {
  color: #0e0c0c; }
.fp-viewing-process-0 .menu__item a, .fp-viewing-details-0 .menu__item a, .fp-viewing-contact .menu__item a, .navigation-brown .menu__item a {
  color: #0e0c0c; }
.fp-viewing-process-0 .footer__link, .fp-viewing-details-0 .footer__link, .fp-viewing-contact .footer__link, .navigation-brown .footer__link {
  color: #0e0c0c; }
  .fp-viewing-process-0 .footer__link:after, .fp-viewing-details-0 .footer__link:after, .fp-viewing-contact .footer__link:after, .navigation-brown .footer__link:after {
    background: #0e0c0c; }
.fp-viewing-process-0 .footer__pagination-bar, .fp-viewing-details-0 .footer__pagination-bar, .fp-viewing-contact .footer__pagination-bar, .navigation-brown .footer__pagination-bar {
  background: #0e0c0c; }

.fp-viewing-details-0 .l-header {
  z-index: 5; }

.navigation-white .brand {
  background: url("../images/brand.svg") 0 0 no-repeat;
  transition: all 0s .2s linear; }
.navigation-white .menu__icon {
  background: #fff; }
.navigation-white .l-footer {
  color: #fff; }
.navigation-white .menu__item a {
  color: #fff; }
.navigation-white .footer__link {
  color: #fff; }
  .navigation-white .footer__link:after {
    background: #fff; }
.navigation-white .footer__pagination-bar {
  background: #fff; }

div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

img {
  max-width: 100%;
  height: auto; }

.btn-primary {
  font-family: 'PlayfairDisplayBold';
  font-size: 21px;
  color: #fff;
  border: 2px solid #fff;
  padding: 20px 40px;
  display: inline-block;
  line-height: 1;
  transition: all 1s .4s linear;
  text-decoration: none;
  position: relative;
  z-index: 1; }
  .btn-primary:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 0;
    -webkit-transition: all ease-in-out .3s;
    -moz-transition: all ease-in-out .3s;
    -ms-transition: all ease-in-out .3s;
    -o-transition: all ease-in-out .3s;
    transition: all ease-in-out .3s;
    background-color: #d6a576;
    z-index: -1; }
  .btn-primary:hover:before {
    width: 100%; }

.btn-yellow {
  color: #d6a576;
  border-color: #d6a576; }
  .btn-yellow:before {
    background-color: #d6a576; }
  .btn-yellow:hover {
    color: #fff; }

.section {
  position: relative; }

.section--introduction {
  overflow: hidden; }

.section__title--primary {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 0;
  right: 0;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  overflow: hidden;
  font-size: 190px;
  text-align: center;
  transition: all 1s .4s linear;
  padding: 0 20%; }

.section__title {
  opacity: 0;
  filter: alpha(opacity=0);
  /* For IE8 and earlier */
  font-family: Steelfish;
  color: #fff; }

.section__title-animated {
  position: relative;
  top: 180px;
  transition: all .4s 1.4s linear; }

.section__tile {
  float: left;
  overflow: hidden;
  position: relative;
  width: 50%;
  height: 50%; }
  .section__tile:nth-child(1) .section__tile-image {
    left: 0;
    top: -50%; }
  .section__tile:nth-child(2) .section__tile-image {
    left: -50%;
    top: 0; }
  .section__tile:nth-child(3) .section__tile-image {
    left: -50%;
    top: -100%; }
  .section__tile:nth-child(4) .section__tile-image {
    left: -100%;
    top: -50%; }

.section__tile-half {
  float: left;
  overflow: hidden;
  position: relative;
  width: 50%;
  height: 100%; }

.section__tile-half-right .section__tile-item {
  top: 0;
  left: 0; }

.section__tile-half-right .section__tile-item {
  top: 0;
  right: 0;
  transform: translate(100%, 0%); }

.section__tile-item {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 1s cubic-bezier(0.46, 0.03, 0.52, 0.96);
  transform: translate(-100%, 0%); }
  .section__tile-item.is-animated {
    transform: translate(0%, 0%); }

.section__background,
.fp-tableCell {
  left: 0;
  position: absolute;
  top: 0;
  height: 100%;
  overflow: hidden;
  perspective: 1000px;
  width: 100%;
  z-index: 0; }

.section__mask {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%; }

.section__tile-image {
  position: relative;
  height: 200%;
  width: 200%;
  background: url("../images/hero.jpg") no-repeat;
  background-size: cover;
  transition: all .8s ease-in-out; }

.section__trigger {
  position: absolute;
  z-index: 3;
  left: 50%;
  bottom: 60px;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  opacity: 0;
  filter: alpha(opacity=0);
  /* For IE8 and earlier */
  transition: all .6s 2s ease-in-out; }

.section__trigger-link {
  display: inline-block;
  width: 48px;
  height: 27px;
  background: url("../images/down-trigger.png") no-repeat;
  cursor: pointer; }

.section--tradition {
  position: relative;
  background-color: #111; }
  .section--tradition:after {
    content: '';
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); }

.section--tradition {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }
  .section--tradition .section-caption {
    position: absolute;
    top: 35%;
    left: 15%; }
    .section--tradition .section-caption .btn-primary {
      position: relative;
      z-index: 2;
      opacity: 0;
      filter: alpha(opacity=0);
      /* For IE8 and earlier */
      transition: all .4s 1.4s linear; }
  .section--tradition .section__title--primary {
    position: relative;
    top: 0;
    left: 0;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    display: block;
    margin: 0 0 50px;
    font-size: 100px;
    text-align: left;
    padding: 0; }

.section--secondary .section__title {
  position: relative;
  z-index: 2;
  font-size: 100px;
  font-size: 4vw; }

.section--details .section__title {
  position: relative;
  right: 0;
  top: 0;
  transform: translate(0, 0);
  margin-bottom: 50px;
  font-size: 100px;
  color: #0e0c0c; }
.section--details .section-caption {
  width: 50%;
  float: left;
  position: relative; }
.section--details .l-wrap, .section--details .fp-slides, .section--details .fp-slidesContainer, .section--details .carousel--details {
  width: 100%;
  height: 100%; }

.completely .carousel--details .item-details, .completely .carousel--details .carousel-indicators {
  opacity: 1;
  filter: alpha(opacity=100);
  /* For IE8 and earlier */ }
.completely .carousel--details .item-details {
  top: 45%; }

.section--process {
  font-family: 'Playfair Display', serif;
  border-bottom: 1px solid #eee; }
  .section--process .l-wrap {
    height: 100%; }
  .section--process .fp-slides:after {
    content: '';
    clear: both;
    display: table; }
  .section--process .content-process {
    position: absolute;
    width: 100%;
    top: 45%;
    -webkit-transform: translate(0, -45%);
    -moz-transform: translate(0, -45%);
    -ms-transform: translate(0, -45%);
    -o-transform: translate(0, -45%);
    transform: translate(0, -45%); }
  .section--process .section__title {
    margin-bottom: 50px;
    font-family: 'Playfair Display', serif;
    color: #0e0c0c; }
  .section--process .section__content {
    font-size: 20px;
    line-height: 1.6; }
  .section--process .section__title-text {
    font-family: 'PlayfairDisplayBold', serif; }
  .section--process .section__title-step {
    font-family: 'PlayfairDisplayItalic', serif; }
  .section--process .section__title-heading, .section--process .section__content, .section--process .section__display .section__title-sub {
    font-family: 'PlayfairDisplayRegular', serif; }

.section__display {
  position: relative;
  top: -30px;
  right: 0;
  margin-top: 5em;
  text-align: right;
  float: right;
  opacity: 0;
  filter: alpha(opacity=0);
  /* For IE8 and earlier */
  transition: all .4s 1.5s ease-in-out;
  width: 50%; }
  .section__display .section__title {
    margin-bottom: 15px;
    font-size: 100px;
    font-family: Steelfish; }
  .section__display .section__title-sub {
    font-size: 55px;
    color: #d6a576; }

.section__display-image {
  margin-top: 50px; }

.section__title-text {
  font-size: 36px;
  transition: all 1s 2.2s ease-in-out; }

.section__title-heading {
  display: block;
  margin-top: 15px;
  font-size: 65px;
  transition: all 1s 2.6s ease-in-out; }

.section__title-step {
  position: relative;
  left: -20px;
  top: 30px;
  z-index: -1;
  font-size: 150px;
  font-style: italic;
  color: #efdecf;
  transition: all 1s 2.4s ease-in-out; }

.section--contact .section__title {
  position: relative;
  top: 30px;
  left: 0;
  right: 0;
  font-size: 100px;
  color: #0e0c0c;
  text-align: center;
  transition: all .6s 1.2s ease-in-out;
  z-index: 1; }
.section--contact .l-wrap {
  max-width: 1000px;
  height: 100%; }
  .section--contact .l-wrap .contact-content {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(0, -50%); }
.section--contact .section__bottom {
  opacity: 0;
  filter: alpha(opacity=0);
  /* For IE8 and earlier */
  position: absolute;
  right: 0;
  bottom: -50px;
  width: 100%;
  height: 100px;
  background: url("../images/bg-footer.jpg") center repeat;
  transition: all .6s 1.6s ease-in-out; }

.contact__info-title {
  margin-bottom: 15px;
  text-align: center;
  font-size: 26px;
  text-transform: uppercase;
  color: #0e0c0c; }

.contact__info {
  position: relative;
  top: -30px;
  opacity: 0;
  filter: alpha(opacity=0);
  margin-top: 2em;
  transition: all .2s ease-in-out; }

.contact__item {
  overflow: hidden; }

.contact__item-bio {
  font-size: 20px;
  line-height: 1.8; }
  .contact__item-bio li {
    color: #0e0c0c; }
    .contact__item-bio li a {
      color: #0e0c0c;
      cursor: pointer;
      text-decoration: none; }
      .contact__item-bio li a:hover {
        text-decoration: underline; }

.section--contact .content-wrap {
  text-align: center;
  padding: 12px;
  width: 935px;
  height: 400px;
  margin: 0 auto;
  border: 10px solid #201e1e;
  position: relative; }
.section--contact .content-image-wrap {
  background-image: url(../images/started-image-bg.png);
  background-repeat: repeat;
  height: 100%;
  width: 100%; }
  .section--contact .content-image-wrap .content-image-contact {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    filter: alpha(opacity=50);
    /* For IE8 and earlier */ }
.section--contact .btn-primary {
  position: relative;
  top: 20px;
  z-index: 2;
  transition: all .6s 1.2s ease-in-out;
  opacity: 0;
  filter: alpha(opacity=0);
  margin-top: 2em; }

.active.section--contact .section__title {
  top: -35px;
  opacity: 1;
  filter: alpha(opacity=100);
  /* For IE8 and earlier */ }
.active.section--contact .btn-primary {
  opacity: 1;
  filter: alpha(opacity=100);
  /* For IE8 and earlier */
  top: 0; }
.active .carousel--steps,
.active .section__displa, .active .section__display {
  top: 0;
  opacity: 1;
  filter: alpha(opacity=100);
  /* For IE8 and earlier */ }
.active .contact__info {
  top: 0;
  opacity: 1;
  filter: alpha(opacity=100);
  /* For IE8 and earlier */
  transition: all .6s 1.4s ease-in-out; }
.active .section__bottom {
  opacity: 0.4;
  filter: alpha(opacity=40);
  /* For IE8 and earlier */
  bottom: 0;
  transition: all .6s 1.2s ease-in-out; }
.active .section__title, .active .section-caption .btn-primary {
  opacity: 1;
  filter: alpha(opacity=100);
  /* For IE8 and earlier */ }
.active .section__title-animated {
  top: 0; }
.active .section__trigger {
  opacity: 1;
  filter: alpha(opacity=100);
  /* For IE8 and earlier */
  bottom: 65px; }
.active .section__tile:nth-child(1) .section__tile-image {
  top: 0; }
.active .section__tile:nth-child(2) .section__tile-image {
  left: -100%; }
.active .section__tile:nth-child(3) .section__tile-image {
  left: 0; }
.active .section__tile:nth-child(4) .section__tile-image {
  top: -100%; }

.social-media-icons {
  margin-top: 10px; }
  .social-media-icons li {
    display: inline-block;
    vertical-align: top; }
    .social-media-icons li a {
      font-size: 18px;
      color: #5D310A;
      text-decoration: none;
      border: 1px solid #5D310A;
      border-radius: 100%;
      padding: 8px 8px;
      display: block;
      width: 20px;
      height: 20px;
      margin: 0 5px; }
    .social-media-icons li .icon-2 {
      padding: 9px 8px;
      height: 18px; }
    .social-media-icons li .icon-3 {
      padding: 10px 8px;
      height: 16px; }

.product--details {
  width: 50%;
  float: left;
  position: relative; }

.product__thumbnail {
  position: absolute;
  bottom: -30%;
  left: -3%;
  transition: all .6s 0s ease-in-out;
  cursor: pointer;
  z-index: 3;
  filter: alpha(opacity=0);
  /* For IE8 and earlier */
  opacity: 0;
  text-align: center; }
  .product__thumbnail button {
    width: 184px;
    height: 187px;
    display: block;
    overflow: hidden;
    border-radius: 100%;
    -webkit-box-shadow: 0 0 40px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0 0 40px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.6);
    border: none;
    padding: 0;
    outline: none !important; }
  .product__thumbnail p {
    font-family: 'Steelfish', serif;
    font-size: 16px;
    text-transform: uppercase;
    color: #0e0c0c;
    margin-top: 15px; }

.product__image {
  text-align: center;
  transition: all .6s 0s ease-in-out;
  position: relative;
  top: 100px;
  filter: alpha(opacity=0);
  /* For IE8 and earlier */
  opacity: 0; }

.menu--primary {
  float: right; }

.menu__trigger {
  position: relative;
  z-index: 3;
  display: block;
  margin-top: 80px;
  margin-right: 70px;
  cursor: pointer; }
  .menu__trigger:hover .menu__icon:nth-child(2) {
    width: 30px; }
  .menu__trigger:hover .menu__icon:nth-child(3) {
    width: 20px; }
  .menu__trigger:hover:after {
    animation: menu-bubble .65s forwards; }
  .menu__trigger:after {
    position: absolute;
    content: '';
    top: -28px;
    left: -18px;
    width: 75px;
    height: 75px;
    border-radius: 100%;
    background: rgba(255, 255, 255, 0.15);
    opacity: 0; }
  .menu__trigger.is-in {
    opacity: 0; }

.menu__list {
  position: absolute;
  z-index: 2;
  top: 84px;
  right: -5%;
  opacity: 0;
  list-style: none;
  transition: all .4s linear; }
  .menu__list.is-in {
    z-index: 4;
    right: 30px;
    opacity: 1; }

.menu__item {
  float: left; }
  .menu__item a {
    display: block;
    padding-left: 15px;
    padding-right: 15px;
    font-family: Steelfish;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 13px;
    letter-spacing: 2px; }

.menu__icon {
  display: block;
  width: 40px;
  height: 3px;
  margin-bottom: 5px;
  background-color: #fff;
  transition: all .4s ease-in-out; }

@keyframes menu-bubble {
  0% {
    opacity: 1;
    transform: scale(0.2); }
  70% {
    transform: scale(1.2); }
  100% {
    opacity: 0;
    transform: scale(0.5); } }
.carousel {
  overflow: hidden; }

.carousel {
  position: relative; }

.item {
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: all .6s ease-in-out; }
  .item.active {
    opacity: 1;
    z-index: 3; }
  .item a {
    color: #d6a576; }

.carousel--steps {
  opacity: 0;
  float: left;
  max-width: 900px;
  width: 50% !important;
  margin: 0 auto;
  z-index: 10;
  top: 30px;
  transition: all .4s 1.5s ease-in-out; }
  .carousel--steps .carousel-inner {
    position: relative;
    width: 100%;
    min-height: 450px; }

.carousel-indicators {
  float: left;
  margin-top: 50px; }
  .carousel-indicators li {
    display: inline-block;
    border-radius: 100%;
    margin-left: 5px;
    margin-right: 5px;
    width: 13px;
    height: 13px;
    box-shadow: 0 0 0 2px #e9e9e9 inset;
    cursor: pointer;
    transition: all .4s linear; }
    .carousel-indicators li.active {
      box-shadow: none;
      background-color: #d6a576; }
    .carousel-indicators li:hover {
      box-shadow: none;
      background-color: #b6b6b6; }

.carousel-controllers {
  display: inline-block;
  margin-top: 50px;
  margin-left: 100px; }
  .carousel-controllers a {
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
    font-family: 'Steelfish';
    font-size: 18px;
    color: #0e0c0c;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    -webkit-transition: all ease-in-out .2s;
    -moz-transition: all ease-in-out .2s;
    -ms-transition: all ease-in-out .2s;
    -o-transition: all ease-in-out .2s;
    transition: all ease-in-out .2s; }
    .carousel-controllers a:before {
      content: '';
      position: absolute;
      background-repeat: no-repeat;
      background-size: auto 100%;
      height: 18px;
      width: 18px;
      opacity: 1;
      -webkit-transition: all ease-in-out .2s;
      -moz-transition: all ease-in-out .2s;
      -ms-transition: all ease-in-out .2s;
      -o-transition: all ease-in-out .2s;
      transition: all ease-in-out .2s; }
    .carousel-controllers a:hover, .carousel-controllers a:focus {
      color: #e6e6e6; }
      .carousel-controllers a:hover:before, .carousel-controllers a:focus:before {
        opacity: .5; }
  .carousel-controllers .carousel-control-left:before {
    background-image: url(../images/arrow-left.png);
    left: -30px; }
  .carousel-controllers .carousel-control-right:before {
    background-image: url(../images/arrow-right.png);
    right: -30px; }

.carousel--details .item:after, .carousel--details .item-details:after {
  content: '';
  display: table;
  clear: both; }
.carousel--details .item-details {
  width: 80%;
  display: flex;
  float: right;
  position: absolute;
  right: 0;
  top: 30%;
  -webkit-transform: translate(0, -45%);
  -moz-transform: translate(0, -45%);
  -ms-transform: translate(0, -45%);
  -o-transform: translate(0, -45%);
  transform: translate(0, -45%);
  transition: all .6s 0s ease-in-out;
  filter: alpha(opacity=0);
  /* For IE8 and earlier */
  opacity: 0; }
.carousel--details .item-caption {
  position: absolute;
  top: 30%;
  left: 0%;
  filter: alpha(opacity=0);
  /* For IE8 and earlier */
  opacity: 0;
  transition: all .6s 0s ease-in-out; }
.carousel--details .carousel-indicators {
  float: none;
  position: absolute;
  z-index: 3;
  margin: 0;
  top: 47%;
  left: 18%;
  -webkit-transform: translate(-18%, -47%);
  -moz-transform: translate(-18%, -47%);
  -ms-transform: translate(-18%, -47%);
  -o-transform: translate(-18%, -47%);
  transform: translate(-18%, -47%);
  transition: all .6s 0s ease-in-out;
  filter: alpha(opacity=0);
  /* For IE8 and earlier */
  opacity: 0; }
  .carousel--details .carousel-indicators li {
    display: block;
    margin-bottom: 8px; }
.carousel--details .active .product__image {
  top: 0px;
  filter: alpha(opacity=100);
  /* For IE8 and earlier */
  opacity: 1;
  transition: all .6s .8s ease-in-out; }
.carousel--details .active .product__thumbnail {
  bottom: -3%;
  filter: alpha(opacity=100);
  /* For IE8 and earlier */
  opacity: 1;
  transition: all .6s .8s ease-in-out; }
.carousel--details .active .item-caption {
  top: 35%;
  filter: alpha(opacity=100);
  /* For IE8 and earlier */
  opacity: 1;
  transition: all .6s .8s ease-in-out; }

.carousel-navigator {
  display: block; }
  .carousel-navigator:after {
    content: '';
    display: table;
    clear: both; }

.modal-open {
  overflow: hidden; }

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0; }

.modal.fade .modal-dialog {
  -webkit-transition: -webkit-transform .3s ease-out;
  -o-transition: -o-transform .3s ease-out;
  transition: transform .3s ease-out;
  -webkit-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  -o-transform: translate(0, -25%);
  transform: translate(0, -25%); }

.modal.in .modal-dialog {
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto; }

.modal-dialog {
  position: absolute;
  top: 50%;
  left: 50%; }

.modal-content {
  position: relative;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  outline: 0;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5); }
  .modal-content .close {
    position: absolute;
    right: -62px;
    top: -60px;
    border: none;
    background-color: transparent;
    width: 40px; }

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000; }

.modal-backdrop.fade {
  filter: alpha(opacity=0);
  opacity: 0; }

.modal-backdrop.in {
  filter: alpha(opacity=50);
  opacity: .5; }

.modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5; }

.modal-header .close {
  margin-top: -2px; }

.modal-title {
  margin: 0;
  line-height: 1.42857143; }

.modal-body {
  position: relative;
  padding: 15px; }

.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5; }

.modal-footer .btn + .btn {
  margin-bottom: 0;
  margin-left: 5px; }

.modal-footer .btn-group .btn + .btn {
  margin-left: -1px; }

.modal-footer .btn-block + .btn-block {
  margin-left: 0; }

.l-header {
  position: fixed;
  top: -10px;
  width: 100%;
  z-index: 2;
  opacity: 0;
  transition: all .8s 1.3s ease-in-out; }
  .l-header.is-animated {
    top: 0;
    opacity: 1; }

.brand {
  float: left;
  display: inline-block;
  width: 164px;
  height: 166px;
  margin-top: 50px;
  margin-left: 50px;
  background: url("../images/brand.svg") 0 0 no-repeat;
  transition: all 0s .2s linear; }

.l-footer {
  position: fixed;
  z-index: 2;
  bottom: 50px;
  width: 100%;
  font-family: 'Steelfish', sans-serif;
  color: #fff;
  opacity: 0;
  transition: all .8s 1.3s ease-in-out; }
  .l-footer.is-animated {
    opacity: 1; }

.footer__link {
  position: absolute;
  bottom: 30px;
  float: left;
  margin-left: 30px;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px; }
  .footer__link:after {
    content: '';
    position: absolute;
    bottom: 60px;
    left: 34px;
    width: 1px;
    height: 50px;
    background: #fff;
    transition: all .4s linear; }
  .footer__link:hover:after {
    height: 35px; }

.footer__link-transformed {
  display: block;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg); }

.footer__pagination {
  float: right;
  margin-right: 50px;
  font-size: 16px; }

.footer__pagination-bar {
  display: block;
  position: relative;
  left: 2px;
  width: 1px;
  height: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  background: #fff;
  transition: all 0s .2s linear; }

.footer__pagination-active,
.footer__pagination-total {
  display: block;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg); }

.l-wrap {
  position: relative;
  max-width: 1600px;
  width: 75%;
  margin: 0 auto; }

@media (max-width: 2048px) {
  .section--introduction .section__title--primary {
    font-size: 176px; } }
@media (max-width: 1920px) {
  .section--introduction .section__title--primary {
    font-size: 154px; } }
@media (max-width: 1680px) {
  .section--introduction .section__title--primary {
    font-size: 146px; } }
@media (max-width: 1600px) {
  .section--introduction .section__title--primary {
    font-size: 132px; } }
@media (max-width: 1440px) {
  .section--introduction .section__title--primary {
    font-size: 128px; } }
@media (max-width: 1400px) {
  .section__title-text {
    font-size: 20px; }

  .section__title-step {
    top: 15px;
    font-size: 100px; }

  .section__title-heading {
    font-size: 35px; }

  .section--process .section__content {
    font-size: 16px; }

  .brand {
    width: 120px;
    height: 121px; }

  .section__display-image {
    width: 50%; }

  .section--introduction .section__title--primary {
    font-size: 125px; }

  .section__display .section__title {
    font-size: 70px; }

  .section__display .section__title-sub {
    font-size: 30px; } }
@media (max-width: 1366px) {
  .carousel--steps .carousel-inner {
    min-height: 350px; }

  .section--introduction .section__title--primary {
    font-size: 117px; } }
@media (max-width: 1280px) {
  .contact__info {
    margin-top: 5%; }

  .section--contact .content-wrap {
    height: 300px; }

  .carousel-controllers {
    margin-top: 30px;
    margin-left: 18px;
    display: block; }

  .carousel-indicators {
    float: none;
    display: block; }

  .section--introduction .section__title--primary {
    font-size: 94px; }

  .section--details .section__title {
    font-size: 70px; }

  .section--contact .section__title {
    font-size: 70px; } }
@media (max-width: 1024px) {
  .brand {
    width: 90px;
    height: 91px;
    margin-top: 30px;
    margin-left: 30px; }

  .menu__list {
    top: 65px; }

  .menu__trigger {
    margin-top: 60px;
    margin-right: 50px; } }
@media (max-width: 768px) {
  .section {
    position: relative; }

  .section--details,
  .section--tradition {
    height: auto;
    min-height: 400px; }

  .brand {
    width: 55px;
    height: 56px;
    margin-top: 20px;
    margin-left: 20px; }

  .menu__trigger {
    margin-top: 35px;
    margin-right: 30px; }

  .menu__list {
    top: 40px; }

  .menu__icon {
    width: 20px;
    height: 2px;
    margin-bottom: 3px; }

  .footer__link {
    margin-left: 0;
    font-size: 12px; }

  .product__details {
    position: relative;
    min-height: 350px; } }
@media (max-width: 1024px) {
  .product__thumbnail button {
    width: 150px;
    height: 150px; }

  .btn-primary {
    font-size: 18px;
    padding: 15px 30px; }

  .carousel-controllers {
    display: none; }

  .section--introduction .section__title--primary {
    font-size: 91px; }

  .section--contact .content-wrap {
    width: 100%;
    margin-top: 2em; }

  .l-footer {
    display: none; }

  .is-mobile .section {
    min-height: 600px; }
  .is-mobile .carousel--details .carousel-inner {
    height: 600px; }
  .is-mobile .carousel--details .carousel-inner .active .section-caption {
    top: 33%; }
  .is-mobile .section--tradition .section-caption {
    left: 20%; }
  .is-mobile .section--tradition .section__title--primary {
    filter: alpha(opacity=100);
    /* For IE8 and earlier */
    opacity: 1; }
  .is-mobile .section__title-animated {
    top: 0; }
  .is-mobile .section--tradition .section-caption .btn-primary {
    filter: alpha(opacity=100);
    /* For IE8 and earlier */
    opacity: 1; }
  .is-mobile .section--process {
    margin-top: 0;
    padding: 4em 0 7em; }
  .is-mobile .section__display {
    position: relative;
    top: 0;
    margin-top: 0;
    width: 50%;
    float: right;
    filter: alpha(opacity=100);
    /* For IE8 and earlier */
    opacity: 1;
    padding-top: 3em; }
    .is-mobile .section__display .section__title {
      filter: alpha(opacity=100);
      /* For IE8 and earlier */
      opacity: 1; }
  .is-mobile .carousel--steps {
    filter: alpha(opacity=100);
    /* For IE8 and earlier */
    opacity: 1;
    width: 50% !important;
    top: 0; }
  .is-mobile .section--contact .l-wrap .contact-content {
    position: relative;
    top: 0;
    left: 0;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    width: 100%;
    height: 100%;
    display: block; }
  .is-mobile .section--contact .section__title {
    filter: alpha(opacity=100);
    /* For IE8 and earlier */
    opacity: 1;
    top: 0; }
  .is-mobile .carousel--steps .carousel-inner {
    overflow: hidden; }
  .is-mobile .section--contact {
    min-height: 0;
    overflow: hidden;
    padding-bottom: 5em;
    padding-top: 5em; }
  .is-mobile .section--contact:after, .is-mobile .section--contact .l-wrap .contact-content:after, .is-mobile .content-process:after {
    content: '';
    display: table;
    clear: both; }
  .is-mobile .section__display-image {
    width: 80%; }
  .is-mobile .section--contact .btn-primary {
    filter: alpha(opacity=100);
    /* For IE8 and earlier */
    opacity: 1;
    top: 0; }
  .is-mobile .contact__info {
    margin-top: 3em;
    overflow: hidden;
    top: 0;
    filter: alpha(opacity=100);
    /* For IE8 and earlier */
    opacity: 1; }
  .is-mobile .carousel--details .item-details {
    filter: alpha(opacity=100);
    /* For IE8 and earlier */
    opacity: 1;
    top: 45%; }
  .is-mobile .carousel--details .carousel-indicators {
    filter: alpha(opacity=100);
    /* For IE8 and earlier */
    opacity: 1; }
  .is-mobile .section--process .content-process {
    position: relative;
    top: 0;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0); }
  .is-mobile .section--contact .section__bottom {
    filter: alpha(opacity=100);
    /* For IE8 and earlier */
    opacity: 1; } }
@media (max-width: 991px) {
  .product__thumbnail button {
    width: 120px;
    height: 120px; }

  .btn-primary {
    font-size: 16px;
    padding: 15px 25px; }

  .section--introduction .section__title--primary {
    font-size: 73px; }

  .section--details .section__title {
    font-size: 60px; }

  .section__display .section__title {
    font-size: 60px; }

  .section__display .section__title-sub {
    font-size: 25px; }

  .active.section--contact .btn-primary {
    top: -20px; } }
@media (max-height: 900px) {
  .section--contact .section__title {
    font-size: 80px; }

  .section--contact .content-wrap {
    height: 350px; } }
@media (max-width: 800px) {
  .section--introduction .section__title--primary {
    font-size: 70px; } }
@media (max-width: 767px) {
  .btn-primary {
    font-size: 12px;
    padding: 10px 20px; }

  .product__thumbnail button {
    width: 60px;
    height: 60px;
    left: 1%; }

  .section--contact .content-wrap {
    height: 200px; }

  .is-mobile .carousel--details .item-details {
    display: block; }
  .is-mobile .product--details {
    width: 80%;
    float: none; }
  .is-mobile .section--details .section-caption {
    width: 100%;
    float: none; }
  .is-mobile .carousel--details .item-details {
    position: relative;
    display: block; }
  .is-mobile .carousel--details .item-caption {
    position: relative;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0); }
  .is-mobile .product__image {
    top: 0; }
  .is-mobile .carousel--details .item-details {
    float: none;
    margin: 0 auto; }
  .is-mobile .product--details {
    width: 80%;
    margin: 0 auto; }
  .is-mobile .section--details .section-caption {
    top: 0 !important;
    padding-top: 2em;
    text-align: center; }
  .is-mobile .section--details {
    min-height: 0; }
  .is-mobile .carousel--details .carousel-indicators {
    top: 30%;
    left: inherit;
    right: 10px;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0); }
  .is-mobile .section {
    min-height: 400px; }
  .is-mobile .section__display {
    top: 0;
    margin-top: 0;
    width: 100%;
    float: none;
    padding-top: 0;
    text-align: center; }
  .is-mobile .carousel--steps {
    width: 100% !important; }
  .is-mobile .contact__item {
    float: none;
    width: 100%; }

  .section--tradition .section__title--primary {
    font-size: 65px; }

  .section--details .section__title {
    font-size: 45px; }

  .section__display .section__title {
    font-size: 50px; }

  .section__display .section__title-sub {
    font-size: 20px; } }
@media (max-height: 800px) {
  .section--contact .content-wrap {
    height: 280px; }

  .section--contact .section__title {
    font-size: 65px; }

  .active.section--contact .section__title {
    top: -12px; }

  .section--contact .btn-primary {
    margin-top: 1.5em; }

  .contact__info {
    margin-top: 3%; } }
@media (max-height: 700px) {
  .section--contact .content-wrap {
    height: 245px; }

  .contact__info {
    margin-top: 3%; } }
@media (max-width: 640px) {
  .section--introduction .section__title--primary {
    font-size: 35px; } }
@media (max-width: 480px) {
  .section__trigger-link {
    width: 30px;
    background-size: 100%; }

  .product__thumbnail p {
    font-size: 12px;
    margin-top: 10px; }

  .section--tradition .section__title--primary {
    font-size: 45px; }

  .section__title-step {
    font-size: 70px; }

  .section__display .section__title {
    font-size: 40px; }

  .section__display .section__title-sub {
    font-size: 18px; }

  .section__title-heading {
    font-size: 25px; }

  .section--process .section__content {
    font-size: 14px; }

  .section--contact .section__title {
    font-size: 45px; }

  .menu__item a {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 11px; } }
@media (max-width: 400px) {
  .section--introduction .section__title--primary {
    font-size: 30px; }

  .section--details .section__title {
    font-size: 30px; }

  .btn-primary {
    font-size: 10px;
    padding: 8px 15px; }

  .menu__item a {
    padding-left: 8px;
    padding-right: 8px;
    font-size: 10px; }

  .carousel-indicators li {
    margin-left: 3px;
    margin-right: 3px; }

  .carousel--steps .carousel-inner {
    min-height: 380px; }

  .section--contact .content-wrap {
    height: 215px; } }
